.clear-completed {
  width: 500px;
  background-color: crimson;
  margin-top: 10px;
  text-align: center;
}

.clear-completed .btn {
  /* outline: none; */
  padding: 4px 6px;
  margin: 0 4px;
  outline-color: green;
  cursor: pointer;
}
