.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DotGothic16", sans-serif;
}

.app-name {
  letter-spacing: 5px;
  color: rgb(73, 40, 73);
  font-size: 70px;
}

.select {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 15px;
}
